.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

.env
env/
.env.*

.vscode/
.idea/
.DS_Store
Thumbs.db

venv/
.venv/

*.log

media/
staticfiles/
pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

docker-compose.yml
docker-compose.*.yml
